<div class="dropdown marginPadding" *ngIf="RSSFeedCollection && RSSFeedCollection.length>0">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select Feed To Fetch Data
  <span class="caret"></span></button>
  <ul class="dropdown-menu" >
    <li style="width: 200px;cursor: pointer;text-align: center" *ngFor="let Feed of RSSFeedCollection" (click)="getFeedData(Feed)">{{Feed.name}}</li>

  </ul>
</div>

<div class="container" *ngIf="feedData && feedData.length >0">
            
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Title</th>
        <th>Summary</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of feedData">
        <td><a href="{{data.url}}" target="_blank">{{data.title}}</a>
          </td>
        <td>{{data.summary}}</td>
      </tr>
  
    </tbody>
  </table>
</div>
